
/* layout-! v_190913 + v_21042 */
/** by. choies **/

@charset "utf-8";
@import "reset.css";
@import "common.css";


/* common
-------------------------------------------------------------------- */
body{
	animation: fadeIn 3s;
	overflow: overlay;
}

section{
	width: 100%;
	padding-top: 8rem;
}

.container{
	position: relative;
	width: 100%;
	max-width: 1600px;
	height: 100%;
	padding:30px;
	margin: auto;
}

.full{
	height: 100vh;	
}

.title h1{
	font-family: 'Poppins';
	font-size: 4rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.info_txt{
    font-size: 1.12em;
    font-weight: 300;
    word-break: keep-all;
    margin-top: .5rem;
}

.info_txt div{
	overflow: hidden;
	height: 1.6em;
	padding-top: 2rem;
	opacity: 0;
	transition: all .5s ease-out;
}

.info_txt div.active{
	padding-top: 0;
	opacity: 1;
	transition: all .5s ease-out;
	transition-delay: .25s;
}

.info_txt div.active:nth-child(2){
  transition-delay: .5s;
}

.info_txt div.active:nth-child(3){
  transition-delay: .75s;
}

.info_txt div.active:nth-child(4){
  transition-delay: 1s;
}



/* header & nav
-------------------------------------------------------------------- */
header{
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	font-family: 'Poppins';
	font-size: 1.1rem;
	background: rgba(255, 255, 255, 0.7);
	z-index: 99999;
}

nav{
	overflow: hidden;
	width: 100%;
	max-width: 1600px;
	padding:30px;
	margin: auto;
}

nav a{
	display: block;
	height: 4rem;
	line-height: 4rem;
	color: #555;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover{
	color: #222;
}

nav .logo a{
	float: left;
	font-size: 1.2rem;
	font-weight: 500;
	color:#333;
}

nav ul{
	float: right;
}

nav li{
	display: inline-block;
	font-weight: 300;
	margin-left: 3rem;
}

.btn_nav{
	display: none;
	position: fixed;
	top: 1.5rem;
	right: 1.5rem;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	font-size: 2.8rem;
	color:#555;
}



/* intro
-------------------------------------------------------------------- */

#intro{
	min-height: 800px;
}

.side_text{
	position: absolute;
	top: 40%;
	left: auto;
	animation: fadeIn 6s;
}

.side_text p{
	transform: translateX(-25%) translateY(-50%) rotate(90deg);
	font-family: 'Poppins';
	font-weight: 100;
	letter-spacing: 0.05em;
	color:#999;
}

.side_text p b{
	display: block;
	margin-bottom: .5rem;
	font-weight: 100;
}

.visual{
	position: absolute;
	top: 50%;
	left: 25%;
}

.visual_text{
	font-size: 11rem;
	font-family: 'Poppins';
	font-weight: 700;
	line-height: 1;
	position: relative;
	margin-bottom: 1rem;
	display: inline-block;
	color: #fff;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: url(../img/bg_visualText.jpg);
	background-size: 100%;
}

.visual_text:before,
.visual_text:after{
	position: absolute;
	content: '';
}

.visual_text:before{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -2;
	background-image: inherit;
}

.visual_text:after{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-color: #fff;
}

.visual h3{
	margin: 0 1rem;
	line-height: 140%;
	font-family: 'Poppins';
	font-size: 2.4rem;
	font-weight: 500;
	animation: showup 6s;
}

.visual h3:last-child{
	animation-delay: 1s;
}

.visual p{
	margin-left: 1rem;
	font-family: 'Poppins';
	font-weight: 300;
	letter-spacing: 0.1em;
	color: #999;
	animation: showup 8s;
}

.visual p::before{
	content: "";
	display: block;
	width: 1px;
	height: 3rem;
	margin: 20px 3px;
	background: #ccc;
}


/* about
-------------------------------------------------------------------- */
#about{
	overflow: hidden;
	padding-bottom: 5rem;
	background: #f7f7f7;
}

.able{
	overflow: hidden;
	margin-bottom: 3rem;
	padding: 2rem 0 6rem;
	right: 0;
	border-bottom: 1px solid #efefef;
}

.able .item{
	overflow: hidden;
	float: left;
	width: 33.33333333%;
	padding-right: 1rem;
}

.able .item div{
	position: relative;
	padding: 3rem 2.5rem 2.5rem;
	color: #fff;
	border-radius: .25rem;
	transform: translateY(5rem);
	transition: all .5s ease-out;
}

.able .item.active div{
	transform: translateY(0);
	transition: all .5s ease-out;
	transition-delay: 1s;
}

.able .item.active:nth-child(2) div{
  transition-delay: 1.25s;
}

.able .item.active:nth-child(3) div{
  transition-delay: 1.5s;
}

.able .item h2{
	font-family: 'Poppins';
	font-size: 2rem;
	font-weight: 500;
	opacity: 1;
	transition: all .5s ease-out;
}

.able .item p{
	font-weight: 100;
	opacity: 1;
	transition: all .5s ease-out;
}

.able .item ul{
	position: absolute;
	top: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 3rem 2.5rem 0;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: all .5s ease-out;
}

.able .item:hover h2, 
.able .item:hover p{
	opacity: 0;
	transition: all .5s ease-out;
}

.able .item:hover ul{
	top : 0;
	opacity: 1;
	transition: all .5s ease-out;
}

.able .item li{
	font-family: 'Poppins';
	padding:0.3rem 0;
}

.able .design div{
	background: url(../img/bg_01.jpg) center;
	background-size: 150%;
}

.able .publishing div{
	background: url(../img/bg_02.jpg) left top;
	background-size: 250%;
}

.able .planning div{
	background: url(../img/bg_03.jpg) center;
	background-size: 250%;
}


.skill{
	overflow: hidden;
}

.skill h1{
	font-size: 2.2rem;
	font-family: 'Poppins';
	font-weight: 700;
	margin-bottom: 3rem;
}

.skill li{
	float: left;
	width: 50%;
}

.skill li i{
	display: none;
	font-size: 1.2rem;
	opacity: 0.4;
	line-height: 2rem;
	vertical-align: middle;
}
.skill li h2,
.skill li p{
	display: block;
	overflow: hidden;
	transition: all .5s ease-out;

}

.skill li h2{
	height: 2rem;
	padding-top: 2rem;
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 1.3rem;
	vertical-align: middle;
}

.skill li p{
	height: 1.5rem;
	padding-top: 1.5rem;
	margin: 0.3rem 0 2.5rem;
	line-height: 1.5;
	word-break: break-all;
}

.skill li.active h2,
.skill li.active p{
	padding-top: 0rem;
	transition: all .5s ease-out;
	transition-delay: .3s;
}


/* project
-------------------------------------------------------------------- */
#project{
	padding-bottom: 3rem;
}

.project_content{
	overflow: hidden;
}

.project_content .item{
	float: left;
	width: 30%;
	height: 25rem;
	margin: 1.5%;
	transition: all .4s ease-out;
}

.project_content .item:hover{
	filter:grayscale(0.1);
	transition: all .4s ease-out;
}

.project_content .item .cover{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
	background-size: cover !important;
	background-position: center top !important;
	cursor: pointer;
	border-radius: .25rem;
}

.project_content .item .cover::after{
	content:"";
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background:rgba(0, 0, 0, 0.3);
	z-index: 1;
    transition: all .4s ease-out;
}

.project_content .item:hover .cover::after{
	background: rgba(0,0,0,0.6);
    transition: all .4s ease-out;
}

.project_content .item .cover::before{
	content: "";
	display: block;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	border: 1px solid #fff;
	opacity: 0;
    transition: all .4s ease-out;
}


.project_content .item:hover .cover::before{
	top:1rem;
	right:1rem;
	bottom:1rem;
	left:1rem;
	opacity: 1;
    transition: all .4s ease-out;
}


.project_txt{
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 0;
	right: 0;
	transform: translate(0, -50%);
	z-index: 9999;
}

.project_txt .date{
    display: block;
    overflow: hidden;
    height: 1.2rem;
    padding-top: 1rem;
    letter-spacing: 0.05rem;
    color: #fff;
    font-family: 'Poppins';
    opacity: 0;
	transition: all .4s ease-out;
}

.project_txt h2{
	display: block;
	overflow: hidden;
	height: 1.5rem;
	margin-top: .5rem;
	padding-top: 1.5rem;
	font-size: 1.3rem;
	color: #fff;
	font-weight: 300;
	transition: all .4s ease-out;
}

.project_content .item .none{
	display: none;
}

.project_content .item:hover .project_txt .date{
	padding-top: 0;
    opacity: 0.8;
    transition: all .4s ease-out;
}

.project_content .item:hover .project_txt h2{
	padding-top: 0;
    opacity: 1;
    transition: all .4s ease-out;
}


/* career
-------------------------------------------------------------------- */

section#contact{
	height: auto;
}

.btn_content{
	padding:3rem 0;
}

.btn_content .btn{
	margin-right:.5rem;
}

.btn_content .btn i{
	color:#666;
	margin-right:0.3rem;
}

/* career
-------------------------------------------------------------------- */
#career{
	overflow: hidden;
	padding-bottom: 4rem;
	background: #fff;
}

#career .common_title p{
	text-transform: none;
}

#career .common_title p:last-child{
	margin-top:.5rem;
}

.career{
	width: 50%;
	padding: 2rem 3.5rem;
}

.career h2{
	font-size: 1.5rem;
	color: #888;
}

.career ul li{
	font-size: 0.9rem;
}

.career.f_right ul li{
	margin-bottom: .5rem;
	color:#888;
}

.career.f_right ul li.main{
	margin-bottom: 1.5rem;
	color:#333;
}

.career ul li b{
	display: block;
	font-size: 0.8rem;
	font-weight: 300;
	padding: 1.2rem 0 .2rem 0;
	color: #9f9f9f;
}





/* footer
-------------------------------------------------------------------- */
footer{
	width: 100%;
	clear: both;
	padding: 1.5rem 0 2rem;
	font-size: 0.8rem;
	color: #aaa;
	background: #fff;
	border-top:1px solid #eee;
	text-align: center;
}


/* modal
-------------------------------------------------------------------- */
.modal{
	display: none;
	position: fixed;
	overflow: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 5rem;
	background: #fff;
	z-index: 99999;
}

.modal_header{
	position: relative;
	height: 30rem;
	color: #fff;
	background-size: cover !important;
}

.modal_header:after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
}

.top_txt{
	position: absolute;
	z-index: 9999;
	left: 5rem;
	top: 25%;
}

.modal_header p.date{
    font-weight: 300;
    font-family: 'Poppins';
    opacity: .7;
}

.modal_header h2{
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 3rem;
}

.modal_header p.inD,
.modal_header p.inP{
    
line-height: 1.7rem;
    
font-family: 'Poppins';
}

.modal_header p.inD span,
.modal_header p.inP span{display: inline-block;width: 130px;font-family: 'Noto Sans KR';}


.modal_header p.info{
	position: relative;
	margin-top: 2rem;
	padding-left: 10px;
}

.modal_header p.info::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 1px;
	background: #fff;
}
    

.content{

padding-top: 5rem;
}

.content img{
	width: 100%;
	margin-top: 5rem;
	box-shadow: 20px 20px 70px #ddd;
}

.modal .btn_close{
	position: fixed;
	top: 0;
	right: 0;
	font-size: 2.5rem;
	color: #aaa;
}

@media (max-width: 1400px){
	/*.col {
		float: none;
		width: 100% !important;
	}*/
}

@media all and ( max-width: 1023px ){
	.side_text{
		display: none;
	}
}

@media all and ( max-width: 767px ){
	.visual_text{
		font-size: 7rem;
	}
}

@media all and ( max-width: 600px ){
	.visual_text{
		font-size: 5rem;
	}
	.visual h3{
		font-size: 2.5rem;
	}
}

@media all and ( max-width: 500px ){
	.visual_text{
		font-size: 4rem;
	}
	.visual h3{
		font-size: 2.5rem;
	}
}


/*@media all and ( max-width: 1023px ){
	section{
		padding-top: 0;
	}
	.col{
		float: none;
		width: 100% !important;
	}
}

@media all and ( max-width: 767px ){
	.full{
		height: auto;
	}
}*/

/*@media all and ( max-width: 1023px ){
	header{
		display: none;
		padding: 1rem 0 1rem;
		background: rgba(255, 255, 255, 0.95);
		box-shadow: .5rem 1rem 2rem 0 rgba(0,0,0,0.15);
	}
	nav .logo a{
		float:none;
	}
	nav ul{
		float:none;
	}
	nav li{
		display: block;
	}
	nav a{
		width: 100%;
		text-align: center;
		font-size: 1.2rem;
	}
	.btn_nav{
		display: block;
	}
}*/


/*@media all and ( max-width: 1023px ){
	.project_content .item.col{
		padding: 1.5rem;
	}
	.col .project_img{
		float: left;
		width: 45%;
	}
	.col .project_txt{
		float: left;
		width: 55%;
		padding: .5rem 0 0 3rem;
	}
	.elead{
		background-size: 100%;
	}

}


@media all and ( max-width: 767px ){
	.col .project_img{
		float: none;
		width: 100%;
		height: 35vh !important;
	}
	.col .project_txt{
		float: none;
		width: 100%;
		padding: 1rem 0;
	}

}*/



/* keyframes
-------------------------------------------------------------------- */
@keyframes fadeIn{
	0%{ opacity: 0; }
	30%{ opacity: 0; }
	70%{ opacity: 1; }
	100%{ opacity: 1; }
}

@keyframes showup{
	0%{ opacity: 0; padding-top: 30px; }
	25%{ opacity: 0; padding-top: 30px; }
	50%{ opacity: 1; padding-top: 0px; }
	100%{ opacity: 1; padding-top: 0px; }
}

@keyframes fadedown{
	0%{ opacity: 0; padding-top: 0; }
	70%{ opacity: 0; padding-top: 0; }
	100%{ opacity: 1; padding-top: 3rem; }
}

@keyframes fadeup{
	0%{ opacity: 1; padding-top: 3rem; }
	70%{ opacity: 0; padding-top: 0; }
	100%{ opacity: 0; padding-top: 0; }
}

@keyframes fadedownTitle{
	0%{ opacity: 0; bottom: 100%; }
	70%{ opacity: 0; bottom: 100%; }
	100%{ opacity: 1; bottom:80%; }
}

@keyframes fadeupTitle{
	0%{ opacity: 1; bottom:80%; }
	70%{ opacity: 0; bottom: 100%; }
	100%{ opacity: 0; bottom: 100%; }
}

@keyframes project_itemDown{
	0%{ top: -15vh; }
	70%{ top: 25%; }
	100%{ top: 25%; }
}

@keyframes project_itemUp{
	0%{ top: 25%; }
	70%{ top: -15vh; }
	100%{ top: -15vh; }
}

@keyframes gradientBG{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}