@charset 'utf-8';

*{margin:0; padding:0;}
body {font:12px "맑은고딕","Malgun Gothic",arial,sans-serif; line-height:150%; color:#333; horizontally-scale:90%; letter-spacing:-0.4px; }
ul li {list-style:none;}
ul li a:hover {color:#444;}
img {border:none;}
a {text-decoration:none; color:#777;}
a :hover { color:#444; }
img {border:0;}
input {font-size:12px; color:#555;}

/*********공통**********/
.right { float:right; }
.left { float:left; }
.cursor{ cursor:pointer;}
.b_mar6 {margin-bottom:6px;}

/*******header********/
#wrep { margin:0 auto; width:100%; }
#header { width:1004px; overflow:hidden; margin:0 auto; }
.logo { float:left; margin-top:10px; }
.top_menu { float:right; margin:10px 0 12px 0; }
.top_menu .top_menu01 { margin-left:295px; margin-bottom:10px;}
.top_menu .top_menu01 ul li { display:inline; padding-left:5px;}
.top_menu .top_menu02 { overflow:hidden; }
.top_menu .top_menu02 ul li { display:inline; padding-right:15px; padding-left:5px;}
.top_menu .top_menu_menu { float:left; }
.top_menu .top_search { float:left; }
.tetx_search {width:150px; height:18px; border:1px solid #7c7d7d; margin-left:5px; }
.btn_submit { color:rgba(0,0,0,0); width:24px; height:20px; margin-left:-4px; background:url(images/ser.jpg) no-repeat; border:1px solid #7c7d7d; vertical-align:top; }

.nav {clear:both; width:100%; height:50px; border-top:3px solid #3b6185;}
.nav ul li { width:16.6%; text-align:center; float:left; font-size:16px; font-weight:bold; line-height:50px;}
.nav ul li :hover {color:#083d96;}
.cyber {color:#F7C02F;}
.cyber :hover {color:red;}
.cyber_navBorder {border-top:3px solid #ff8400;}
.cyber_navBorder ul li :hover {color:#d44600;}


/*******content*******/
#content { color:#5a5a5a; width:1004px; overflow:hidden; margin:0 auto; }
#main_banner{width:1004px; position:relative;}
#prev {position:absolute; top:200px; left:15px; cursor:pointer;}
#next {position:absolute; top:200px; right:15px; cursor:pointer;}
#main {width:100%; height:100%; overflow:hidden;}
#allpage .page {float:left;}

.top-sliding {width:1004px; margin:0 auto; height:17px; padding:10px 0px; border-bottom:1px solid #e1e1e1;}
.top-sliding_p {float:left; width:820px; text-align:center;}


/******* content box *******/
#main_content{ width:1004px; overflow:hidden; margin:0 auto; color:#5a5a5a;}

#cyber_content{ width:1004px; overflow:hidden; margin:0 auto; color:#5a5a5a; margin-top:15px;}


/******* 퀵메뉴 *******/
.main_content_quickMenu {float:left; width:320px; height:230px; background:url(images/QS-00.jpg); border-bottom:1px solid #e1e1e1;}
.main_content_quickMenu .quickMenu_subject {margin-top:15px; margin-left:17px;}
.main_content_quickMenu .quickMenu_icon {float:left; margin:12px 17px;}

/******* 공지사항 탭 *******/
#tab { float:left; width:345px; height:230px; border:1px solid #e1e1e1; border-top:none;}
#tab_01 { width:114px; height:30px; background:#FFF; }
#tab_02 { width:114px; height:30px; background:#f7f7f7; border:1px solid #e1e1e1; border-top:none;}
#tab_03 { width:115px; height:30px; background:#f7f7f7; border-bottom:1px solid #e1e1e1;}
.tab_menu {height:30px;}
.tab_menu ul li { float:left; }
.tab_menu .tab_title { cursor:pointer; font-size:13px; font-weight:bold; line-height:30px; text-align:center;}
.tab_content { position:relative; height:200px; width:100%;}
.tab_content .divTab { position:absolute; height:94%;; width:94%; padding:3%;}
.tab_content ul li {margin:5px 0 8px 5px;}
.tab_menu_day {float:right; font-size:11px; color:#a5a5a5; margin-right:10px;}

/******* 팝업존 *******/
.popupZone {padding:20px 10px 10px 20px; float:left; width:307px; height:200px; border-bottom:1px solid #e1e1e1;}
.popupZone .popdiv01 {margin-bottom:35px; overflow:hidden;}
.popupZone .popdiv02 {padding:0 5px;}

/******* 수질정보 *******/
.waterQuality {padding:20px 10px 10px 20px; float:left; width:290px; height:175px; border-bottom:1px solid #e1e1e1;}

/******* 잇츠수홍보 *******/
.promote {padding:20px 0px 10px 20px; float:left; width:325px; height:175px; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1;background:url(images/pop5_bg.jpg);}
.promote li {list-style:none; }
.promote .itsoo {float:left; margin:30px 16px 0px 16px;}

/******* 민원행정 *******/
.complain {overflow:hidden; float:left; width:337px; height:205px; border-bottom:1px solid #e1e1e1;}
.complain01 {padding:15px 10px 2px 20px; width:307px; height:131px;}
.complain02 {width:337px; height:57px; background:url(images/121.png);}

/******* 홍보영상 *******/
.video {overflow:hidden; padding:20px 10px 10px 20px; float:left; width:290px; height:105px; border-bottom:1px solid #e1e1e1;}
.video01 {float:left; width:183px; height:103px;}
.video02 {float:left; width:107px; height:103px; margin-top:20px;}

/******* 품질보고서 *******/
.report {overflow:hidden; padding:20px 10px 10px 20px; float:left; width:315px; height:105px; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1;}
.report01 {float:left; width:173px; height:0px;}
.ebook {margin-top:20px; clear:both;}
.ebook img {margin:3px;}
.report02 {float:right; width:135px; height:103px;}
.report02 img {margin-right:16px;}

/******* 배너모음 *******/
#banner {padding:20px 10px 10px 20px; float:left; width:307px; height:105px; border-bottom:1px solid #e1e1e1;}
#banner01 {margin-top:10px; position:relative; width:260px;  height:38px; margin-left:15px;}
#next_s { position:absolute; top:13px; right:-8px; cursor:pointer;}
#prev_s { position:absolute; top:13px; left:-8px; cursor:pointer;}
#main_s { margin-left:10px; width:240px; height:38px; overflow:hidden;}
#page_sCover { width:240px; height:38px; }
.page_s {float:left; margin:2px;}



.title {font-size:12px; font-weight:bold; clear:both; margin-bottom:15px;}
.top-img {margin-bottom:6px;}
.list {margin-left:15px;}
.list li {list-style:disc; padding:2px;}


/******* sub page 공통*******/

#content_sub01 {color:#5a5a5a; margin-bottom:40px; width:1004px; overflow:hidden; margin:0 auto;}
#ccontent_sub01 a {color:#5a5a5a;}
.content_sub_text {float:left; width:766px; margin-left:20px;}

/*사이드메뉴*/
.side {width:218px; height:650px; float:left;}
.sideMenu {width:218px; height:450px; border:1px solid #e1e1e1;}
.sideMenu ul li {padding:10px;}
.sideMenu ul li a {font-size:14px;}
.sidenav_01 {margin-left:15px; font-weight:bold; color:#c2c2c2;}
.sidenav_01 .sidenav01_01 {color:#083d96; font-weight:bold;}
.sidenav_01 .sidenav01_02:hover {color:#083d96; font-weight:bold;}
.sidenav_01 .sidenav01_03:hover {color:#083d96; font-weight:bold;}
.sidenav_01 .sidenav01_04:hover {color:#083d96; font-weight:bold;}
.sidenav_01 .sidenav01_05:hover {color:#083d96; font-weight:bold;}
.sidenav_01 .sidenav01_06:hover {color:#083d96; font-weight:bold;}
.sidenav_01 .sidenav01_07:hover {color:#083d96; font-weight:bold;}
.sidenav_01 .sidenav01_08:hover {color:#083d96; font-weight:bold;}
.sidenav_01 .sidenav01_09:hover {color:#083d96; font-weight:bold;}

/*의견작성창*/
.inputbox {width:724px; overflow:hidden; border:1px solid #e1e1e1; background:#999; background:#f7f7f7; padding:10px 20px;}
.inputbox p {float:left; padding-right:5px;}
.inputbox #intup_radio {float:left;}
.inputbox #intup_radio input{margin-left:10px;}
.inputbox_in {clear:both; margin-top:30px;}
.intup_radio {font-size:11px; }
input[type=radio] { vertical-align:middle; margin-left:2px;}
.inputbox_in textarea {width:560px; height:22px; padding:4px 0;}
.inputbox_in #btn_sbmit02 {width:120px; height:32px; vertical-align:top; background:#7d7d7d; margin-left:10px; border:none; border-radius:10px; color:#FFF; font-weight:bold;}


/******* sub page01 본문 *******/

.textbox01 {width:764px; height:65px; border:1px solid #e1e1e1; background:#999; background:#f7f7f7;}
.textbox01 img {margin:15px 10px; float:left;}
.textbox01 p {float:left; margin-top:30px; color:#8f8f8f;}
.textbox02 {width:726px; margin:40px 20px;}
.textbox02 p {margin-top:25px;}
.textbox02 img {margin:60px 100px;}

/******* sub page02 본문 *******/
.textbox03 {width:766px; margin:40px 20px;}
.textbox03 p {margin-top:25px;}
.textbox03 img {margin:10px 60px;}
.textbox04 {width:726px; margin:40px 20px;}
.textbox04 p {margin-top:10px; line-height:20px;}
.textbox04 h3 {margin-top:25px;}
.textbox04 img {margin:10px 0;}
.teb {margin-top:20px;}
.inner_title {width:722px; height:40px; background:#fcfcfc; border-top:1px solid #d1d1d1; border-bottom:1px solid #d1d1d1;}
.inner_title1, .inner_title2 { margin-bottom:-1px; } 
.inner_text {background:#f6f6f6; padding:5px 0 25px 30px; display:none;}
.inner_text1, .inner_text2 {border-top:1px solid #d1d1d1;}
.inner_text3 {border-bottom:1px solid #d1d1d1;}

/********사이버고객센터**********/
.loginbox {float:left; width:298px; overflow:hidden;}
.loginbox> img ,.sub_quickMenu> img {padding:10px 0 2px 5px;}
.login_input {background:url(images/br_login.gif) no-repeat; height:69px; padding:25px 20px; color:1px solid #cda027;}
.login_input_text {width:180px; height:50px; float:left;}
.login_input_text input {height:20px; width:160px; border:1px solid #cea127; padding:0 5px;}
.login_buttom {float:left; height:48px; width:75px; border:1px solid #cea127; text-align:center; line-height:46px; font-size:14px; color:#494949; background:#ef7700;}
.login_buttom a {color:#fff; font-weight:bold;}
.login_text {clear:both;}
.login_text ul li a {float:left; color:#fff; vertical-align:middle; font-weight:600; margin-top:3px; vertical-align:bottom;}
.sub_quickMenu {float:left; width:706px; overflow:hidden;}
.sub_quickMenu_box {background:url(images/br_Qm.gif); height:109px;}
.sub_quickMenu_box ul li {float:left; width:115px; text-align:center; margin-top:12px;}


.cyber_waterQuality {padding:20px 10px 10px 20px; float:left; width:280px; height:175px; border-bottom:1px solid #e1e1e1; border-top:1px solid #e1e1e1; position:relative;}
.cyber_waterQuality01 {float:left; width:183px; height:103px;}
.cyber_waterQuality01 .btn_bottomMore {position:absolute; bottom:25px; left:20px;}
.cyber_waterQuality02 {position:absolute; bottom:9px; right:15px;}

.cyber_notice{float:left; width:345px; height:205px; border:1px solid #e1e1e1;}
.cyber_notice01 {width:100%; height:30px; background:#f7f7f7; border-bottom:1px solid #e1e1e1;}
.cyber_notice_teb {width:100px; height:23px; background:#fff; border-bottom:1px solid #fff; float:left; text-align:center; padding-top:7px;}
.cyber_notice_more {float:right; margin:9px; cursor:pointer;}
.cyber_notice02 {padding:10px;}
.cyber_notice02 ul li {margin:5px 0 8px 5px;}
.cyber_notice_day {float:right; font-size:11px; color:#a5a5a5; margin-right:10px;}

.cyber_complain{float:left; width:345px; height:205px; border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1;}
.cyber_complain01 {width:100%; height:30px; background:#f7f7f7; border-bottom:1px solid #e1e1e1;}
.cyber_complain02{padding:10px;}
.cyber_complain02 ul li {margin:5px 0 8px 5px;}

.cyber_complain_banner {border-bottom:1px solid #e1e1e1; width:310px; height:128px; float:left; background:#f5f5f5; padding-top:10px;}

.cyber_read {overflow:hidden; padding:20px 10px 10px 20px; float:left; width:315px; height:108px; border:1px solid #e1e1e1; border-top:none;}
.cyber_read01 {float:left; width:183px; height:103px;}

.cyber_reckoning {overflow:hidden; padding:20px 10px 10px 20px; float:left; width:315px; height:108px; border-bottom:1px solid #e1e1e1;}
.cyber_reckoning01 {float:left; width:183px; height:103px;}

/********footer**********/
#footer { width:100%; height:30px; background:#eee; font-size:11px; margin-top:40px; }
.foot01 {height:30px;}
.foot01 ul li {float:left; padding-left:10px; line-height:30px;}
.foot01 select {margin:5px 10px; float:right; font-size:11px;}
.foot01 ul li a {text-decoration:none; color:#666;}
.foot02 {clear:both; height:60px; padding-top:20px;}
.foot02 img {float:left;}
.foot02 p {float:left; margin-left:10px;}
.footer_select {background:#f3f3f3; border:1px solid #b6b6b6; color:#666;}
.cover {width:960px; margin:0 auto;}