@charset 'utf-8';

*{margin:0; padding:0;}
body {background-color:#bad8d7;}
ul li {list-style:none;}
img {border:none;}

#wrep {margin:0 auto;}

#haeder {width:100%; height:70px; background-color:rgba(255,255,255,0.8); padding-top:8px; position:fixed; left:0px; top:0px; z-index:1000;}
.cover {width:1004px; margin:0 auto; }
.logo {background:url(image/logo.png)no-repeat; width:150px; height:46px; float:left; padding:6px; margin:4px;}
.logo:hover {background:url(image/logo_h.png)no-repeat;}
#nav {width:380px; float:right; padding:20px; }
#nav a{margin-left:50px; float:right;}
#nav ul li a.m1 {background:url(image/m1.png)no-repeat; display:block; float:left; width:42px; height:27px;}
#nav ul li a.m2 {background:url(image/m2.png)no-repeat; display:block; float:left; width:85px; height:27px;}
#nav ul li a.m3 {background:url(image/m3.png)no-repeat; display:block; float:left; width:84px; height:27px;}

/*******main page*******/
#content {margin:0 auto; margin-top:80px; margin-bottom:30px; width:1004px; height:690px; background-image:url(image/ba.jpg);position:relative;}
.mm1{position:absolute;left:906px; top:560px;}
.mm1:hover {width:90px; height:87px; position:absolute;left:901px; top:555px;}
.mm2{position:absolute;left:183px; top:144px;}
.mm2:hover {width:98px; height:97px; position:absolute;left:178px; top:139px;}
.mm3{position:absolute;left:675px; top:42px;}
.mm3:hover {width:98px; height:97px; position:absolute;left:670px; top:37px;}
.co_logo {position:absolute;left:0px; top:480px;}
.logo2 {display:block;}

/*******plan page********/
.plan_popUp{position:relative;}
.plan_closeButton {position:absolute; top:15px; right:15px; cursor:pointer; z-index:200;}

#plan_content { margin:0 auto; padding-top:120px; margin-top:300px; margin-bottom:30px; width:1004px; height:640px;}
#plan_content_inner{ padding:10px; 30px; position:relative;}
#content_text2 {margin-top:6px;}
#content_text3 {margin-top:25px; margin-bottom:30px;}

#plan_hiddenbox { position:absolute; top:120px; left:100px;  }
#plan_CI {position:absolute; top:0px; left:-20px; display:none; z-index:100;}
#plan_WI {position:absolute; top:0px; left:-20px; display:none; z-index:100;}
#plan_MM {position:absolute; top:0px; left:-20px; display:none; z-index:100;}

#plan_icon {width:1004px; height:220px;}
#plan_icon ul li{margin:80px 70px;}
#plan_icon ul li.plan_CI_icon {background:url(image/icon01.png)no-repeat; display:block; float:left; width:214px; height:218px;}
#plan_icon ul li.plan_WI_icon {background:url(image/icon02.png)no-repeat; display:block; float:left; width:156px; height:207px;}
#plan_icon ul li.plan_MM_icon {background:url(image/icon03.png)no-repeat; display:block; float:left; width:156px; height:207px; margin-left:90px;}

/*******portfolio page********/
.portfolio_popUp{position:relative;}
.portfolio_closeButton {position:absolute; top:15px; right:15px; cursor:pointer; z-index:200;}

#portfolio_content { margin:0 auto; padding-top:120px; margin-top:300px; margin-bottom:30px; width:1004px; height:640px;}
#portfolio_content_inner{ padding:10px; 30px; position:relative;}

#portfolio_hiddenbox { position:absolute; top:120px; left:110px; }
#portfolio_web {position:absolute; top:0px; left:-20px; display:none; z-index:100;}
#portfolio_illust {position:absolute; top:0px; left:-20px; display:none; z-index:100;}
#portfolio_et {position:absolute; top:0px; left:-20px; display:none; z-index:100;}

#portfolio_webBox {position:relative; width:793px; height:503px;}

#portfolio_webBox .portfolio_web01 {position:absolute; top:0px; left:0px;}
.portfolio_web_moreBox01_site {position:absolute; top:392px; left:605px; width:151px; height:19px; background:url(image/choies-portfolio01_01.png) no-repeat; z-index:200;}
.portfolio_web_moreBox01_img {position:absolute; top:430px; left:605px; width:151px; height:19px; background:url(image/choies-portfolio01_02.png) no-repeat; z-index:200;}
.portfolio_web_moreBox01_site:hover {background:url(image/choies-portfolio01_01_h.png) no-repeat;}
.portfolio_web_moreBox01_img:hover {background:url(image/choies-portfolio01_02_h.png) no-repeat;}

#portfolio_webBox .portfolio_web02 {position:absolute; top:0px; left:0px;}
.portfolio_web_moreBox02_site {position:absolute; top:392px; left:605px; width:151px; height:19px; background:url(image/choies-portfolio02_01.png) no-repeat; z-index:200;}
.portfolio_web_moreBox02_img {position:absolute; top:430px; left:605px; width:151px; height:19px; background:url(image/choies-portfolio02_02.png) no-repeat; z-index:200;}
.portfolio_web_moreBox02_site:hover {background:url(image/choies-portfolio02_01_h.png) no-repeat;}
.portfolio_web_moreBox02_img:hover {background:url(image/choies-portfolio02_02_h.png) no-repeat;}


#portfolio_webBtn {width:793px; height:503px;}
#portfolio_webBtn ul li {-webkit-box-shadow: 1px 0 1px 0 rgba(0,0,0,0.5); box-shadow: 1px 0 1px 0 rgba(0,0,0,0.5);}
#portfolio_webBtn ul li.webBtn01 {position:absolute; bottom:900px; left:710px; width:22px; height:20px; background:#2c567d; z-index:150;}
#portfolio_webBtn ul li.webBtn02 {position:absolute; bottom:900px; left:740px; width:22px; height:12px; background:#ebb29f; z-index:150;}

#portfolio_icon {width:1004px; height:220px; padding:0px 30px;}
#portfolio_icon ul li {margin:80px 40px;}
#portfolio_icon ul li.portfolio_web_icon {background:url(image/portfolio_01.png)no-repeat; display:block; float:left; width:206px; height:344px;}
#portfolio_icon ul li.portfolio_illust_icon {background:url(image/portfolio_02.png)no-repeat; display:block; float:left; width:272px; height:343px;}
#portfolio_icon ul li.portfolio_et_icon {background:url(image/portfolio_03.png)no-repeat; display:block; float:left; width:244px; height:343px;}

/*******about page********/
#about_content { margin:0 auto; padding-top:80px; margin-top:300px; margin-bottom:400px; width:1004px; height:690px; position:relative;}
.catFoot {
	position:absolute; top:435px; right:0;
	-webkit-animation-name:'myani03'; -webkit-animation-duration:0.5s; transform:50% 50%; -webkit-animation-iteration-count:infinite;
	-moz-animation-name:'myani03'; -webkit-animation-duration:0.5s; transform:50% 50%; -webkit-animation-iteration-count:infinite;
	-ms-animation-name:'myani03'; -webkit-animation-duration:0.5s; transform:50% 50%; -webkit-animation-iteration-count:infinite;
	-o-animation-name:'myani03'; -webkit-animation-duration:0.5s; transform:50% 50%; -webkit-animation-iteration-count:infinite;
	animation-name:'myani03'; -webkit-animation-duration:0.5s; transform:50% 50%; -webkit-animation-iteration-count:infinite;
}
.catFoot_bg {position:absolute; top:444px; right:0; background:#fff; width:30px; height:30px;}

#footer {width:100%; height:50px; background-color:rgba(255,255,255,0.3); text-align:center; position:fixed; left:0px; bottom:0px; z-index:1000;}
#footer img {padding:15px; }



/*********애니메이션**********/
.shake:hover {
	-webkit-animation-name:'myani01'; -webkit-animation-duration:0.2s; transform:50% 50%; -webkit-animation-iteration-count:infinite;
	-moz-animation-name:'myani01'; -moz-animation-duration:0.2s; transform:50% 50%; -moz-animation-iteration-count:infinite;
	-ms-animation-name:'myani01'; -ms-animation-duration:0.2s; transform:50% 50%; -ms-animation-iteration-count:infinite;
	-o-animation-name:'myani01'; -o-animation-duration:0.2s; transform:50% 50%; -o-animation-iteration-count:infinite;
	animation-name:'myani01'; animation-duration:0.2s; transform:50% 50%;animation-iteration-count:infinite;
}
.logo_shake:hover {
	-webkit-animation-name:'myani02'; -webkit-animation-duration:0.3s; transform:50% 50%; -webkit-animation-iteration-count:5;
	-moz-animation-name:'myani02'; -moz-animation-duration:0.3s; transform:50% 50%; -moz-animation-iteration-count:5;
	-ms-animation-name:'myani02'; -ms-animation-duration:0.3s; transform:50% 50%; -ms-animation-iteration-count:5;
	-o-animation-name:'myani02'; -o-animation-duration:0.3s; transform:50% 50%; -o-animation-iteration-count:5;
	animation-name:'myani02'; animation-duration:0.3s; transform:50% 50%; animation-iteration-count:5;
}


/******shake 크로스브라우징설정**********/
@-webkit-keyframes myani01 {
	0% {-webkit-transform:translate(1px,1px) rotate(0deg);}
	20% {-webkit-transform:translate(0px,0px) rotate(1deg);}
	40% {-webkit-transform:translate(-1px,-1px) rotate(0deg);}
	60% {-webkit-transform:translate(0px,0px) rotate(1deg);}
	80% {-webkit-transform:translate(1px,1px) rotate(-1deg);}
	100% {-webkit-transform:translate(0px,0px) rotate(0deg);}
}
@-moz-keyframes myani01 {
	0% {-moz-transform:translate(1px,1px) rotate(0deg);}
	20% {-moz-transform:translate(0px,0px) rotate(1deg);}
	40% {-moz-transform:translate(-1px,-1px) rotate(0deg);}
	60% {-moz-transform:translate(0px,0px) rotate(1deg);}
	80% {-moz-transform:translate(1px,1px) rotate(-1deg);}
	100% {-moz-transform:translate(0px,0px) rotate(0deg);}
}
@-ms-keyframes myani01 {
	0% {-ms-transform:translate(1px,1px) rotate(0deg);}
	20% {-ms-transform:translate(0px,0px) rotate(1deg);}
	40% {-ms-transform:translate(-1px,-1px) rotate(0deg);}
	60% {-ms-transform:translate(0px,0px) rotate(1deg);}
	80% {-ms-transform:translate(1px,1px) rotate(-1deg);}
	100% {-ms-transform:translate(0px,0px) rotate(0deg);}
}
@-o-keyframes myani01 {
	0% {-o-transform:translate(1px,1px) rotate(0deg);}
	20% {-o-transform:translate(0px,0px) rotate(1deg);}
	40% {-o-transform:translate(-1px,-1px) rotate(0deg);}
	60% {-o-transform:translate(0px,0px) rotate(1deg);}
	80% {-o-transform:translate(1px,1px) rotate(-1deg);}
	100% {-o-transform:translate(0px,0px) rotate(0deg);}
}

/******catFoot 크로스브라우징설정**********/
@-webkit-keyframes myani03 {
	0% {-webkit-transform: translateX(-3px);}
	20% {-webkit-transform: translateX(-6px);}
	40% {-webkit-transform: translateX(-9px);}
	80% {-webkit-transform: translateX(-6px);}
	100% {-webkit-transform: translateX(-3px);}
}

@-moz-keyframes myani03 {
	0% {-moz-transform: translateX(-3px);}
	20% {-moz-transform: translateX(-6px);}
	40% {-moz-transform: translateX(-9px);}
	80% {-moz-transform: translateX(-6px);}
	100% {-moz-transform: translateX(-3px);}
}

@-ms-keyframes myani03 {
	0% {-ms-transform: translateX(-3px);}
	20% {-ms-transform: translateX(-6px);}
	40% {-ms-transform: translateX(-9px);}
	80% {-ms-transform: translateX(-6px);}
	100% {-ms-transform: translateX(-3px);}
}

@-o-keyframes myani03 {
	0% {-o-transform: translateX(-3px);}
	20% {-o-transform: translateX(-6px);}
	40% {-o-transform: translateX(-9px);}
	80% {-o-transform: translateX(-6px);}
	100% {-o-transform: translateX(-3px);}
}

@keyframes myani03 {
	0% {transform: translateX(-3px);}
	20% {transform: translateX(-6px);}
	40% {transform: translateX(-9px);}
	80% {transform: translateX(-6px);}
	100% {transform: translateX(-3px);}
}
/******logo_shake 크로스브라우징설정**********/
@-webkit-keyframes myani02 {
	0% {-webkit-transform: scale(1.1) rotate(3deg);}
	50% {-webkit-transform: scale(1.1) rotate(-3deg);}
	100% {-webkit-transform: scale(1.1) rotate(3deg);}
}

@-moz-keyframes myani02 {
	0% {-moz-transform: scale(1.1) rotate(3deg);}
	50% {-moz-transform: scale(1.1) rotate(-3deg);}
	100% {-moz-transform: scale(1.1) rotate(3deg);}
}

@-ms-keyframes myani02 {
	0% {-ms-transform: scale(1.1) rotate(3deg);}
	50% {-ms-transform: scale(1.1) rotate(-3deg);}
	100% {-ms-transform: scale(1.1) rotate(3deg);}
}

@-o-keyframes myani02 {
	0% {-o-transform: scale(1.1) rotate(3deg);}
	50% {-o-transform: scale(1.1) rotate(-3deg);}
	100% {-o-transform: scale(1.1) rotate(3deg);}
}

@keyframes myani02 {
	0% {transform: scale(1.1) rotate(3deg);}
	50% {transform: scale(1.1) rotate(-3deg);}
	100% {transform: scale(1.1) rotate(3deg);}
}

